# LOAD Konlpy

In [ ]:
import pandas as pd
import os
from tqdm import tqdm_notebook, tqdm


Data_dir="../KB_NLP/raw_data"
train_df = pd.read_csv(os.path.join(Data_dir,"train.csv"))
train_df['text'] = train_df['text'].astype(str)

In [2]:
from konlpy.tag import Komoran

komo = Komoran()

In [3]:
train_morphs = []
for i in tqdm(range(len(train_df))):
    morph = komo.morphs(train_df['text'][i])
    train_morphs.append(morph)

100%|██████████| 295945/295945 [09:57<00:00, 495.68it/s]

In [4]:
test_df = pd.read_csv(os.path.join(Data_dir,"public_test.csv"))
test_df['text'] = test_df['text'].astype(str)

In [5]:
%%time
test_morphs = []
for i in tqdm(range(len(test_df))):
    morph = komo.morphs(test_df['text'][i])
    test_morphs.append(morph)

100%|██████████| 1626/1626 [00:05<00:00, 297.93it/s]

CPU times: user 5.48 s, sys: 16.2 ms, total: 5.5 s
Wall time: 5.46 s

In [6]:
train_df['komo_morphs'] = train_morphs
test_df['komo_morphs'] = test_morphs

In [7]:
train_df['komo_morphs'] = train_df['komo_morphs'].astype(str)
test_df['komo_morphs'] = test_df['komo_morphs'].astype(str)

In [8]:
for i in tqdm(range(len(train_df))):
    train_df['komo_morphs'][i] = train_df['komo_morphs'][i].replace("'","").replace("[","").replace("]","").replace(",","")

  0%|          | 0/295945 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

100%|██████████| 295945/295945 [20:06<00:00, 245.38it/s]

In [9]:
for i in tqdm(range(len(test_df))):
    test_df['komo_morphs'][i] = test_df['komo_morphs'][i].replace("'","").replace("[","").replace("]","").replace(",","")

  0%|          | 0/1626 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

100%|██████████| 1626/1626 [00:00<00:00, 12622.01it/s]

In [10]:
%%time
train_df.to_csv("../KB_NLP/morphs/komo_morphs_train.csv", index=False)
test_df.to_csv("../KB_NLP/morphs/komo_morphs_test.csv", index=False)

CPU times: user 2.73 s, sys: 144 ms, total: 2.87 s
Wall time: 4.74 s

In [11]:
for i in tqdm(range(len(train_df))):
    train_df['komo_morphs'][i] = train_df['komo_morphs'][i].replace(".","[SEP]")

  0%|          | 0/295945 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

100%|██████████| 295945/295945 [20:25<00:00, 241.54it/s]

In [12]:
for i in tqdm(range(len(test_df))):
    test_df['komo_morphs'][i] = test_df['komo_morphs'][i].replace(".","[SEP]")

  0%|          | 0/1626 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

100%|██████████| 1626/1626 [00:00<00:00, 14640.90it/s]

In [13]:
len(train_morphs)

295945

In [14]:
train_df.head()

,id,year_month,text,smishing,komo_morphs
0,0,2017-01,XXX은행성산XXX팀장입니다.행복한주말되세요,0,XXX 은행 성산 XXX 팀장 이 ㅂ니다 [SEP] 행복 한 주말 되 시 어요
1,1,2017-01,오늘도많이웃으시는하루시작하세요XXX은행 진월동VIP라운지 XXX올림,0,오늘 도 많이 웃 으시 는 하루 시작 하 시 어요 XXX 은행 지 ㄴ 월동 VIP ...
2,2,2017-01,안녕하십니까 고객님. XXX은행입니다.금일 납부하셔야 할 금액은 153600원 입니...,0,안녕하십니까 고객 님 [SEP] XXX 은행 이 ㅂ니다 [SEP] 금일 납부 하 시...
3,4,2017-01,XXX 고객님안녕하세요XXX은행 XXX지점입니다지난 한 해 동안 저희 XXX지점에 ...,0,XXX 고객 님 안녕하세요 XXX 은행 XXX 지점 이 ㅂ니다 지나 ㄴ 한 하 아 ...
4,5,2017-01,1월은 새로움이 가득XXX입니다.올 한해 더 많이행복한 한해되시길바랍니다,0,1월 은 새롭 ㅁ 이 가득 XXX 이 ㅂ니다 [SEP] 올 한하 아 더 많이 행복 ...

In [15]:
test_df.head()

,id,year_month,text,komo_morphs
0,340000,2019-01,XXX고객님! 안녕하세요? 새롭게 시작하는 한 주 행복 가득하시길 기원합니다. 지난...,XXX 고객 님 ! 안녕하세요 ? 새롭 게 시작 하 는 한 주 행복 가득 하 시 기...
1,340001,2019-01,긴급 안내 XXX은행 가락동 지점 - 헬리오XXX 기본XXX 대출이자를 ...,긴급 안내 XXX 은행 가락동 지점 - 헬리 오 XXX 기본 XXX 대출 이자 를 ...
2,340002,2019-01,XXX 고객님 안녕하세요올해는 미세먼지가 유난인거 같습니다.엊그제 새해가 시작된거같...,XXX 고객 님 안녕하세요 올해 는 미세먼지 가 유난 이 ㄴ 거 같 습니다 [SEP...
3,340003,2019-01,XXX 고객님찾아온 행운을 잡으셨나요? 못잡으셨다면 이번에 다시 잡으시길 기원합니다...,XXX 고객 님 찾아오 ㄴ 행운 을 잡 으시 었 나요 ? 못 잡 으시 었 다면 이번...
4,340004,2019-01,XXX 고객님새해 복 많이 받으세요 XXX은행 코스트코 퇴직연금 담당자입니다. 고...,XXX 고객 님 새해 복 많이 받 으시 시 어요 XXX 은행 코스트코 퇴직 연금 담...

In [16]:
%%time
train_df.to_csv("../KB_NLP/morphs/bert_komo_morphs_train.csv", index=False)
test_df.to_csv("../KB_NLP/morphs/bert_komo_morphs_test.csv", index=False)

CPU times: user 2.77 s, sys: 120 ms, total: 2.89 s
Wall time: 2.89 s

In [17]:
train_df['length'] = train_df['komo_morphs'].apply(lambda x: len(str(x).split(' ')))
print("mean length of sentence: " + str(train_df.length.mean()))
print("max length of sentence: " + str(train_df.length.max()))
print("std length of sentence: " + str(train_df.length.std()))

mean length of sentence: 89.27805504401155
max length of sentence: 644
std length of sentence: 114.02346925047749

In [18]:
test_df['length'] = test_df['komo_morphs'].apply(lambda x: len(str(x).split(' ')))
print("mean length of sentence: " + str(test_df.length.mean()))
print("max length of sentence: " + str(test_df.length.max()))
print("std length of sentence: " + str(test_df.length.std()))

mean length of sentence: 152.6691266912669
max length of sentence: 565
std length of sentence: 116.83732804508064