In [19]:
import pandas as pd
import time
import os, gc
import numpy as np
from tqdm import tqdm
import random
import pickle
import re
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
%%time
#train_df=pd.read_csv("../KB_NLP/morphs/komo_morphs_train.csv")
#test_df=pd.read_csv("../KB_NLP/morphs/komo_morphs_test.csv")
train_df=pd.read_csv("../KB_NLP/raw_data/train.csv")
test_df=pd.read_csv("../KB_NLP/raw_data/public_test.csv")

CPU times: user 1.06 s, sys: 76.9 ms, total: 1.14 s
Wall time: 1.88 s

In [3]:
pd.set_option('display.max_colwidth',-1)
train_df.head()

,id,year_month,text,smishing
0,0,2017-01,XXX은행성산XXX팀장입니다.행복한주말되세요,0
1,1,2017-01,오늘도많이웃으시는하루시작하세요XXX은행 진월동VIP라운지 XXX올림,0
2,2,2017-01,안녕하십니까 고객님. XXX은행입니다.금일 납부하셔야 할 금액은 153600원 입니다.감사합니다. 새해 복 많이 받으십시오.XXX은행옥포XXX올림,0
3,4,2017-01,XXX 고객님안녕하세요XXX은행 XXX지점입니다지난 한 해 동안 저희 XXX지점에 보내주신 성원에 감사드립니다. 설렘으로 시작한 2017년소망하시는 일 모두 이XXX 고객님의 가정에 늘 건강과 행복이 함께하길 기원하겠습니다. 사랑하는 가족과 함께 정을 나누는 행복한 설 명절 보내세요 XXX은행 XXX지점직원일동,0
4,5,2017-01,1월은 새로움이 가득XXX입니다.올 한해 더 많이행복한 한해되시길바랍니다,0

In [26]:
doublespace_pattern = re.compile('\s+')

def sentence_transform(sent):
    sent = sent.replace('XXX', 'X')
    def transform(char):
        if char == ' ':
            return char
        elif char == 'X':
            return ' X '
        elif char == '.':
            return '. '
        else:
            return char

    sent_ = ''.join(transform(char) for char in sent)
    sent_ = doublespace_pattern.sub(' ', sent_)
    return sent_

In [27]:
sentence_transform(train_df.loc[0, 'text'])

' X 은행성산 X 팀장입니다. 행복한주말되세요'

In [28]:
from soyspacing.countbase import CountSpace
corpus_fname = '../KB_NLP/original_corpus.txt'
model_fname = '../KB_NLP/space_correc.model'

In [29]:
%%time
model = CountSpace()
model.train(corpus_fname)
model.save_model(model_fname, json_format=False)

all tags length = 3492875 --> 2572894, (num_doc = 297570)CPU times: user 4min 40s, sys: 436 ms, total: 4min 40s
Wall time: 4min 41s

In [30]:
aa = model.correct(train_df['text'][0])
aa[0]

'XXX은행성산XXX팀장입니다.행복한 주말되세요'